
.app {
  background: #344A6A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 15px;
  max-width: 400px;
  width: 50%;
}

.todo {
  background: #FFFFFF;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-form{
  width: 100%;
  display: flex;
}

.input{ 
  width: 100%;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  padding: 15px 10px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.button {
  color: #FFFFFF;
  background-color: #066DDC;
  outline: 0;
  border-radius: 4px;
  vertical-align: middle;
  border: unset;
  cursor: pointer;
}
.button + .button {
  margin-left: 8px;
}
.button.is-full {
  width: 100%;
}
.button.is-round {
  border-radius: 9999px;
}
.button.button--primary:not([data-is-disabled="true"]):not([data-is-error="true"]):not(.is-plain) {
  background-color: #066DDC;
  box-shadow: 0 4px 12px 0 rgba(235, 238, 245, 0.2);
}
.button.button--primary:not([data-is-disabled="true"]):not([data-is-error="true"]):not(.is-plain):hover {
  background-color: #025FC5;
}
.button.button--primary.is-plain {
  border: 1px solid #066DDC;
  background-color: #FFFFFF;
  color: #066DDC;
  box-shadow: 0 4px 12px 0 rgba(235, 238, 245, 0.2);
}
.button.button--primary.is-plain:hover {
  background-color: #025FC5;
  color: #FFFFFF;
}
.button.button--error:not([data-is-disabled="true"]):not([data-is-error="true"]):not(.is-plain) {
  background-color: #FB4927;
  box-shadow: 0 4px 12px 0 rgba(235, 238, 245, 0.2);
}
.button.button--error:not([data-is-disabled="true"]):not([data-is-error="true"]):not(.is-plain):hover {
  background-color: #cf4227;
}
.button.button--error.is-plain {
  border: 1px solid #FB4927;
  background-color: #FFFFFF;
  color: #FB4927;
}
.button.button--error.is-plain:hover {
  background-color: #FFE4DF;
}
.button[data-is-disabled="true"] {
  background-color: #95A0B1;
}
.button.button--xs {
  padding: 7px 15px;
  font-size: 12px;
}
.button.button--sm {
  padding: 9px 15px;
  font-size: 12px;
}
.button.button--md {
  padding: 10px 20px;
  font-size: 14px;
}
.button.button--lg {
  padding: 12px 20px;
  font-size: 14px;
}
.button.button--xl {
  padding: 15px 25px;
  font-size: 16px;
}
